*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
website/
*.keystore
keystore.properties
app/release/
Jump_Droid_GitHub_Media_Kit/
BACKUP_*.kt
BACKUP_afr_git_issue_gameScreen.kt